<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Todo App JavaScript | </title> -->
    <link rel="stylesheet" href="trello_style.css">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- CSS source -->
    <link href="css/trello_style.css" rel="stylesheet" media="all">

</head>
<body>
  <div id="mainContainer">

  
</div>
<!-- JAVASCRIPT source -->
<script src="js/script_trello.js"></script>

</body>
</html>